<nav class="navbar navbar-expand-md navbar-light  sticky-top">
        <div class="container-fluid">
            <div>
                <img src="{{url_for('static', filename=('stacklite.png'))}}" class="image">
            </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link btn btn-warning" href="{{url_for('askquestion')}}" >
                                Ask a Question
                            </a>
                        </li>
                        
                        <li class="nav-item active">
                            <a class="nav-link btn btn-primary" href="{{url_for('Profile')}}" >
                                Your Profile
                            </a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link btn btn-danger" href="{{url_for('Logout')}}" >
                                    Logout
                                </a>
                            </li>
                    </ul>

</nav>