<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='signup.css')}}" />
    <script src="main.js"></script>
</head>

<body>
   <div>
       <nav class="navbar navbar-expand-md navbar-light bg-warning sticky-top">
            <img src="{{url_for('static', filename='stacklite.png')}}" class="stack">
       </nav>
   </div>

   <div class="firstwrapper">
       <div>
           <img src="{{ url_for('static', filename='Join the team.gif')}}">
       </div>
       <div>
           <form action="" >

           </form>
       </div>
   </div>
</body>
</html>