{% extends "welcome.html" %}
{% block content%}
{% from "formhelpers.html" import render_field%}

   <div class="firstwrapper">
       <div class="image">
           <img src="{{ url_for('static', filename='Join the team.gif')}}">
       </div>

        <div class="form">
            <form  action="" method="POST" >
                <div class="text">
                    <h3 class="display-4 head">
                        Join Now <hr>
                    </h3>
                </div> 

                <div class="form-group ">
                    {{render_field(form.firstname, class_="formitem form-control ")}}
                </div>

                <div class="form-group">
                    {{render_field(form.lastname, class_="formitem form-control")}}
                </div>

                <div class="form-group">
                    {{render_field(form.country, class_="formitem form-control")}}
                </div>

                <div class="form-group">
                    {{render_field(form.linkedIn, class_="formitem form-control")}}
                </div>

                <div class="form-group">
                    {{render_field(form.email, class_="formitem form-control")}}
                </div>

                <div class="form-group">
                    {{render_field(form.username, class_="formitem form-control")}}
                </div>

                <div class="form-group">
                    {{render_field(form.password, class_="formitem form-control")}}
                </div>

                <div class="form-group">
                    {{render_field(form.confirm_password, class_="formitem form-control")}}
                </div>

                <div>
                    <input class="btn btn-success" type="submit" value="Submit">
                    <small>Have an account click <a href="{{url_for('Login')}}">Here</a></small>
                </div>
            </form>
        </div>
    </div>


{% endblock  %}