<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stackover Flow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='main.css')}}" />
    <script src="main.js"></script>
</head>
<body>
    {% include "navbarhomepage.html"%}
    <div class="firstbox">
        <div class="firstcolumn">
            <ul>
                <li>
                    <a href="{{url_for('Home')}}" class="listitem2">Home</a> 
                </li>

                <li>
                    <a href="{{url_for('Users')}}" class="listitem2">Users</a>
                </li>

                <li>
                    <a href="{{url_for('Profile')}}" class="listitem3">Your Profile</a>
                </li>
                <li>
                    <h4 class="card minibox">Learn More</h4>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>