<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Stackover flow Lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='mainwelcome.css')}}" />
    <script src="main.js"></script>
</head>

<body>

<div>
{% include "navbarwelcomepage.html" %}
</div>
    <div>
        {% include "flashmessages.html"%}
        {%block content%}{% endblock %}
    </div>
</body>

<footer>
    <div>
        <ul class="listwrap">
            <li class="listitem">
                FAQS
            </li>

            <li class="listitem">
                Twitter
            </li>

            <li class="listitem">
                Youtube
            </li>

            <li class="listitem">
                Email
            </li>

            <li class="listitem">
                Privacy Policy
            </li>
        </ul>
    </div>
</footer>

</html>