body
{
    height: 100%;
    width: 100%;
}
.image
{
    width: 200px;
}
nav
{
    background: #17a2b8;
}
.firstbox
{
    display: grid;
    grid-template-columns: 15% 60%;
}
ul li
{
    display: block;
}
ul
{
    padding-left: 5px;
    padding-top: 20px;
}
li
{
    padding-bottom: 20px;
    
}
.minibox
{
    text-align: center;
    width: 150px;
}
a 
{
    color: black;
}
a:hover
{
    color: brown;
}
.ask
{
    color: aliceblue;
}
.ask:hover
{
    text-decoration: none;
    color: brown;
}
.but
{
    padding-top: 10px;
}
.questions
{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 20px;
    grid-auto-rows: 100px;
    padding-left: 10px;
}
.questionborder
{
    border-bottom: 1px solid gray;
}
.askerborder
{
    border-bottom: 1px solid gray;
}
.firstcolumn
{
    display: grid;
    grid-auto-rows: 400px;
    border-right: 1px solid gray;
}
.formbody
{
    padding-left: 50px;
    padding-top: 30px;
}
