body
{
    height: 100%;
    width: 100%;
}
.image
{
    width: 200px;
}
nav
{
    background: #17a2b8;
}
.firstbox
{
    display: grid;
    grid-template-columns: 15% 70%;
}
ul li
{
    display: block;
}
ul
{
    padding-left: 5px;
    padding-top: 20px;
}
li
{
    padding-bottom: 20px;
    
}
.minibox
{
    text-align: center;
    width: 150px;
}
a 
{
    color: rgb(31, 30, 30);
}
a:hover
{
    color: brown;
}
.ask
{
    color: aliceblue;
}
.ask:hover
{
    text-decoration: none;
    color: brown;
}
.but
{
    padding-top: 10px;
}
.questions
{
    display: grid;
    grid-template-columns: 70% 20%;
    padding-top: 20px;
    grid-auto-rows: 100px;
    margin-left: 30px;
}
.questionborder
{
    border-bottom: 1px solid gray;
}
.askerborder
{
    border-bottom: 1px solid gray;
}
.firstcolumn
{
    display: grid;
    grid-auto-rows: 400px;
    border-right: 1px solid gray;
}
.formbody
{
    padding-left: 50px;
    padding-top: 30px;
}
footer
{
    margin-top: 10px;
    background-color: brown;
    height: 50px;
    
}
.ninthwrapper
{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-auto-rows: 270px;
    background: #136983;
    color: rgb(31, 30, 30);
}
.titleup
{
    padding-top: 10px;
}
.Questionbodyandanswer
{
    padding-left: 10px;
}
.cardcolor
{
    background: #fd7e14;
}
.questiontags
{
    color: #dc3545;
}
.questiontags:hover
{
    color: #17a2b8;
}
.questiontitlecolor
{
    background: #20c997;
}
.nav-item
{
    margin-left: 20px;
}
.cardcolor1
{
    background: #6f42c1;
}
.profile
{
    margin-left: 20px;
}
.profilenav
{
    display: grid;
    grid-template-columns: 40% 50%;
    border-bottom: 1px solid gray;
}
.updateprofiletab
{
    margin-top: 10px;
}
.usernameprofile
{
    margin-top: 20px;
}
.userquestions
{
    margin-top: 10px;
}