body
{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #f7f8f5;
}
li
{
    padding-left: 20px;
}
.stack
{
    width: 300px;
    height: 100px;
}
.firstwrapper
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 40px;
    justify-items: center;
    padding-top: 30px;
    padding-left: 100px;
}
.signwrapper
{
    display: grid;
    grid-template-rows: 10% 80%;
    grid-row-gap: 40px;
    justify-items: center;
    padding-top: 30px;
    padding-left: 100px;
}

.formitem
{
    padding-top: 10px;
}
.image
{
    padding-top: 20px;
}
.formitem1
{
    display: block;
    width:300px;
}
.image
{
    height: 100px;
}
footer
{
    margin-top: 20px;
    background-color: brown;
    height: 50px;
    
}
.listwrap .listitem
{
    display: inline;
    
}

.listitem
{
    padding-left: 90px;
    
}
.image-resize
{
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.but
{
    padding-top: 10px;
}