<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stackover Flow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='main.css')}}" />
    <script src="main.js"></script>
</head>
<body>
    {% include "navbarhomepage.html"%}
    {% include "withmessages.html"%} 
    <div class="firstbox">
            <div class="firstcolumn">
                <ul>
                    <li>
                        <a href="{{url_for('Home')}}" class="listitem2">Home</a> 
                    </li>

                    <li>
                        <a href="{{url_for('Users')}}" class="listitem2">Users</a>
                    </li>

                    <li>
                        <a href="{{url_for('Profile')}}" class="listitem3">Your Profile</a>
                    </li>
                    <li>
                        <h4 class="card minibox">Learn More</h4>
                    </li>
                </ul>
            </div>
        <div class="formbody">
            <form action="" method="POST" class="card card-body">
                <legend> Enter Your Question Below <hr> </legend>
                <div class="formitem">
                    {{form.Title.label(class="form-control-label ")}}
                    {% if form.Title.errors %}
                        {{form.Title(class="form-control form-control-lg ")}}
                        <div class="invalid-feedback">
                            {% for error in form.Title.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
    
                    {% else %}
                        {{form.Title(class="form-control form-control-lg ")}}
                    {% endif %}
                </div>
                <div class="formitem">
                    {{form.Body.label(class="form-control-label")}}
                    {% if form.Body.errors %}
                        {{form.Body(class="form-control form-control-lg")}}
                        <div class="invalid-feedback">
                            {% for error in form.Body.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
    
                    {% else %}
                        {{form.Body(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="but">
                    {{form.submit(class="btn btn-success")}}
                </div>
                </form>
            </div>

    </div> 
</body>
    {%include "footerhomepage.html"%}

</html>