<footer>
    <div class="ninthwrapper profilefooter">
        <div>
            <img class="image" src="{{url_for('static', filename='stacklite.png')}}">
            <hr class="light">
            <p>
                About
            </p>
    
            <p>
                How to use
            </p>
    
            <p>
                Terms of service
            </p>
        </div>
    
        <div>
    
            <p>
                <hr>Created by Kodek2000 <hr> 
            </p>
    
            <p>
                Africell money-0794583491
            </p>
            <p>
                Mugerwa Joseph Lumu @facebook
            </p>
            <p>
                Whatsapp-0775644211
            </p>
        </div>
    
            <div>
                <p>
                    <hr>Menu<hr>
                </p>
                <p>
                    <a href="{{url_for('User.Profile')}}">Your Profile</a>
                </p>
                <p>
                    <a href="{{url_for('Users.Users')}}">Users</a>
                </p>
                <p>
                    <a href="{{url_for('User.Logout')}}">Logout</a>
                </p>
            </div>
        </div>
    </footer>